<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC5149C1D066A75005B3550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC514B01D066A75005B3550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC514BB1D066A75005B3550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
